.contacts{
    margin-top: 179px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }
    iframe{
        width: 700px;
        height: 400px;
    }
    &__text{
        width: 380px;
        font-family: 'San Francisco Pro Display Medium';
        span{
            font-size: 18px;
            font-family: 'San Francisco Pro Display Bold';
        }
    }
}